body{
    background-image: url(Myfirstrocket.jpg);
    background-repeat: no-repeat;
}

.logo{

   

    width: 100%;
    display: flex;
    text-align: center;
    height: 120px;
    padding: 60px;
   
    
    
}

.logo ul{

    display: flex;
    text-align: end;
    padding: 15px;
    margin-left: 1700px;
}
.logo ul li{
    margin-left: 70px;
    background-color: ;
    text-align: center;
    padding: 40px;
   
}

.logo ul li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;
    text-align: center;
    transition-duration: 1s;
}

.logo ul li a:hover{
    font-size: 50px;
}

.logo h2{

    margin-left: 60px;
    color: aliceblue;
    font-family:bold;
    font-size: 30px;
}
span{
    color: rgb(212, 23, 23);
    font-size: 100px;
}

.box-1{

    border:;
    text-align: center;
    color: rgb(217, 224, 230);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    

}
.box-1 h1{
    font-size: 110px;
    word-spacing: 10%;
    letter-spacing: 10px;
}
button{
    
    color: ;
    padding: 5px;
    border-radius: ;
    width: 220px;
    height: 70px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

button:hover{

    background-color: black;
    color: white;
}

.half{
    background: #20A4F3;
    padding: 140px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: ;
    margin-left: 40px;
    margin-top: 20px;
    box-shadow: 10px 10px 40px;
    float: left;
    width: 800px;
    
}

.last-half{
    background: #20A4F3;
    padding: 140px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: ;
    margin-left: 40px;
    margin-top: 20px;
    box-shadow: 10px 10px 40px;
    float: left;
    width: 3050px;
    text-align: center;
    
}

input{
    padding: 50px;
    margin-left: 20px;
    font-size: 50px;
}

h1{
    color: red;
    border-bottom: 1px solid greenyellow;
}
h2{
    color: red;
}